body{
	font: 15px/1.5 Arial, Helvetica,sans-serif;
	padding:0;
	margin:0;
	background-color:#f4f4f4;
}
/* Global Container */
.container{
	width: 80%;
	margin: auto;
	overflow: hidden;
}

ul{
	 margin:0;
	 padding:0;
	 list-style: none;
 }
 
 
}
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #e8491d;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}  

a.biscuit {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: initial;
}

 
/* ul li {
	 float:left;
	 width:200px;
	 height:4px;
	 line-height:40px;
	 text-align:center;
	 font-size:20px;
	 
 }
 ul li a{
	 text decoration:none;
	 color:white;
	 display:block;
 }
 ul li a:hover{
	 background-color:orange;
 }
 ul li ul li{
	 display:none;
 }
 ul li:hoverr ul li{
	 display: block;
 }*/
 
 
 
 
 
 .button_1{
	 height:38px;
	 background:#e8491d;
	 border:0;
	 padding-left:20px;
	 padding-right:20px;
	 color:#ffffff; 
 }
 
 .dark{
	 padding:15px;
	 background:#35424a;
	 color:#ffffff;
	 margin-top:10px;
	 margin-bottom:10px;
 }
 
 
 
 
 

/*Header*/
header{
	background: #35424a;
	color: #ffffff;
	padding-top: 8px;
	min-height: 70px;
	border-button: #48491d 3px solid;
}
 
 /*header links*/
 header a{
	 color:#ffffff;
	 text-decoration:none;
	 text-transform:uppercase;
	 font-size:16px;
 }
 
 header li{
	 float:left;
	 display:inline;
	 padding:0 20px 0 20px;
 }
 header #branding{
     float:left; 
 }
 header #branding h1{
	 margin:0;
 }
 header nav{
	 float:right;
	 margin-top:10px;
 }
header .highlight, header .current a{
	color:#e8491d;
	font-weight:bold;
} 
header a:hover{
	color:#cccccc;
	font-weight:bold;
}
/*Showcase*/
#showcase{
	min-height: 250px;
	background: url('../img/143306.jpg') no-repeat 270px 0;
	text-align: center;
	color: #ffffff;
	background-size: auto;
	background-repeat: inherit;
}
#showcase h1{
	margin-top: 50px;
	font-size: 50px;
	margin-bottom: 10px;
}

#showcase p{
	font-size:20px;
}

/*Newsletter*/

#newsletter{
	padding: 5px;
	color: #ffffff;
	background: #35424a;
}
#newsletter h1{
	float:left;
}

#newsletter form{
	float:right;
	margin-top:15px;
}

#newsletter input[type="email"]{
	padding:4px;
	height:25px;
	width:250px;
}

/*Boxes*/
#boxes{
	margin-top:20px;
}
#boxes .box{
     float:left;
	 text-align:center;
     width:30%;
     padding:10px;	 
}

#boxes .box img{
	width:90px;
}

/*sidebar*/
aside#sidebar{
	float:right;
	width:30%
	margin-top:10px;
}

/*Main-col*/
 article#main-col{
	 float:left;
	 width:65%
 }
 
 /*login*/
 .login-main input[type="text"],.login-main input[type="email"] {
    font-size: 1em;
    color: #000;
    padding: 0.7em 0em;
    margin-bottom: 1em;
    display: inline-block;
    outline: none;
    border: none;
    border-bottom: 2px solid #000;
    font-family: 'Lato', sans-serif;
	background: Transparent;
	width: 100%;
}
.login-main input[type="text"]{
	 width: 100%;
	
}
.login-main input[type="password"] {
    font-size: 1em;
    color: #000;
    padding: 0.7em 0em;
    margin-bottom: 1em;
    width: 100%;
    display: inline-block;
    outline: none;
    border: none;
    border-bottom: 2px solid #000;
    font-family: 'Signika', sans-serif;
	background: Transparent;
}
.login-main input[type="submit"] {
    font-size: 1em;
    color: #fff;
    background: #ff8040;
    border: none;
    width: 82%;
	display: block;
    padding: 0.7em 1em;
    text-align: center;
    margin: 1.5em auto;
    transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
    outline: none;
    cursor: pointer;
	text-transform: uppercase;
    letter-spacing: 1px;
}
.login-main input[type="submit"]:hover{
    background:rgba(0, 0, 0, 0.82);
    transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
}
::-webkit-input-placeholder{
   color:#000 !important;
}
.login-main.wthree {
    width: 80%;
    margin: 3em auto;
}




  
  
  
  
  






 
 footer{
	padding: 3px;
	margin-top: 10px;
	color: #ffffff;
	background-color: #e8491d;
	text-align: center;
 }

/*Media queries*/
@media(max-width:768px){
	header #branding,
	header nav,
	header nav li,
	#newsletter h1,
	#newsletter form 
	#boxes .box{
		float:none;
		text-align:cnter;
		width:100%;
	}
	
	header{

	}
	#showcase h1{
		margin-top:40px;
	}
	
	#newsletter button{
		display:block;
		width:100%;
	}
	#newsletter form input[type="email"]{
		width:100%
		margin-bottom:5px;
	}
}











 
 
 
 
 
 
 
 
 
 
 
